if url
    h2.nothingyet 404. The following url was not found on this server:
        blockquote
            p.fourofour http://srn.io/#{url}
else
    h2.nothingyet 404. Not found.

p.nothingyet: img(src='http://i.imgur.com/ooWW6.gif')