each post in posts
    div#content
        section
            div.post.contain
                h1: a(href='#')= post.title
                p= post.content
                p= post.draft
                ul.actions
                    li: a(href='#') Edit