if posts.length > 0
    each post in posts
        div#content
            section
                div.post.contain
                    h1: a(href='#{post.url}')= post.title
                    p!= markdown(post.content)
                    ul.actions
                        li.date= post.date
else
    p.nothingyet No entries yet.