doctype 5
html
    head
        title= title
        link(href='/css/application.css', media='screen', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,900', rel='stylesheet', type='text/css')

    body
        header
            h1: a(href='/') soren brokaer
            span.tagline
                | Software-developer &nbsp;
                a(href='http://spiir.dk', target='_blank') @spiir
                |, loves .net, ruby, nodejs and knockoutjs. 18 years old.

            ul
                li: a(href='https://twitter.com/soerenr', target='_blank') @soerenr
                li: a(href='https://github.com/soerenr', target='_blank') github
                li: a(href='/archive') archive
                li: a(href='/feed.rss', target='_blank') rss

            span.powered-by
                | powered by &nbsp;
                a(href='https://github.com/soerenr/srn.js') srn.js

        div#container
            != body

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')