doctype 5
html
    head
        title= title
        link(href='/css/application.css', media='screen', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,900', rel='stylesheet', type='text/css')

    body
        header
            h1: a(href='#') soren brokaer
            span 0's and 1's like you've never seen them before

            ul
                li: a(href='https://twitter.com/soerenr') @soerenr
                li: a(href='https://github.com/soerenr') github
                li: a(href='/archive/') archive
                li: a(href='/feed.rss') rss

            span.powered-by
                | powered by &nbsp;
                a(href='https://github.com/soerenr/srn.js') srn.js

        div#container
            time June 01, 2012
            != body